// @import "./fonts.css";
// @import "./theme.css";

* {
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.section-padding {
  padding: 60px 0;
  @media only screen and (max-width: 600px) {
    padding: 40px 0;
  }
}
