
/* Services*/

.service-section {
  background: var(--primary-color);
  padding: 60px 0;

  @media only screen and (max-width: 500px) {
    .responsive-container {
      padding: 0 25px;
    }
  }

  .my-services {
    margin-top: 80px;
    @media only screen and (max-width: 900px) {
      text-align: center;
    }
    @media only screen and (max-width: 600px) {
      margin-top: 0;
    }

    h1 {
      font-size: 37px;
      font-family: "Inter-Bold";
      color: var(--section-headline-color);
      line-height: 0.813;
      margin-bottom: 30px;

      @media only screen and (max-width: 900px) {
        font-size: 32px;
      }
      @media only screen and (max-width: 500px) {
        font-size: 25px;
      }
    }

    p {
      font-size: 16px;
      font-family: "Inter-Regular";
      color: var(--text-color-black);
      line-height: 1.625;
      margin-bottom: 35px;
    }

    .explore-btn {
      @media only screen and (max-width: 768px) {
        text-align: center;
      }

      button {
        border-radius: 3px;
        background: var(--green-color);
        width: 193px;
        height: 60px;
        border: none;
        font-size: 14px;
        font-family: "Inter-Bold";
        color: var(--text-color-white);
        line-height: 2.143;

        outline: 1px solid;
        outline-color: var(--green-color);
        outline-offset: 0px;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

        @media only screen and (max-width: 1200px) {
          margin-top: 35px;
        }

        @media only screen and (max-width: 1024px) {
          margin-top: 30px;
        }

        @media only screen and (max-width: 768px) {
          width: 140px;
          height: 40px;
        }

        img {
          width: 25px;
          height: 25px;
          border-radius: 50px;
          margin-right: 5px;
        }

        &:hover {
          background: var(--button-hover-color);
          transition: all 0.4s ease-in-out;

          outline-color: rgba(0, 0, 0, 0);
          outline-offset: 15px;
          color: var(--text-color-white);
        }

        @media only screen and (max-width: 1200px) {

        }

        @media only screen and (max-width: 900px) {

        }
      }
    }
  }

  .web-design {
    margin-top: 20px;
  }

  .service-card {

    border-radius: 10px;
    padding: 35px;
    background-color: var(--mobile-sidebar-bg-color);
    box-shadow: 0px 24px 35.28px 13.72px rgba(0, 0, 0, 0.04);
    // box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-bottom: 20px;

    .service-card-icon {
      border-radius: 50%;
      background-color: var(--service-icon-bg-color);
      width: 81px;
      height: 80px;
      z-index: 254;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      font-size: 21px;
      font-family: "Inter-Bold";
      color: var(--section-headline-color);
      line-height: 1.19;
      margin-top: 20px;
    }

    p {
      margin: 0;
      font-size: 16px;
      font-family: "Inter-Regular";
      color: var(--text-color-black);
      line-height: 1.625;
      margin-top: 15px;
    }

    button {
      margin-top: 30px;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(0, 207, 93);
      border-radius: 2px;
      background: transparent;
      width: 141px;
      height: 44px;
      font-size: 14px;
      font-family: "Inter-Medium";
      color: var(--secondary-color);
      line-height: 1.855;
      text-align: center;
    }

    &:hover {
      background: #00cf5d;
      color: #ffffff;
      transition: all 0.4s ease-in-out;
      transform: translateY(-5px);

      .service-card-icon {
        background: var(--text-color-white);
      }

      h2 {
        color: #ffffff;
      }

      p {
        color: #ffffff;
      }

      button {
        color: #ffffff;
        border-color: #ffffff;
      }
    }

  }


}

/* Services End */
