:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --green-color: #00cf5d;
  --text-color: #c9c9c9;
  --section-headline-color: #202334;
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --button-hover-color: #03a74d;
  --follow-me-button-bg-color: #f6f6f6;
  --follow-me-button-text-color: #202334;
  --scroll-text-color: #ffffff;
  --social-link-color: #202334;
  --sticky-header-color: #00cf5d;
  --sticky-header-logo-bg-color: #ffffff;
  --logo-text-color: #ffffff;
  --sticky-header-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --about-section-bg: #fffff;
  --about-heading-color: #202334;
  --about-text-color: #8c8d9e;
  --about-counter-number-color: #00cf5d;
  --mobile-sidebar-bg-color: #ffffff;
  --sidebar-link-hover-color: #ececec;
  --sidebar-close-button-color: #7A7C8F;
  --sidebar-closeBtn-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.04);
  --hero-section-clipart-image: url("../images/hero-section/hero-img-bg.png");
  --hero-section-image: url("../images/hero-section/shiam.jpg");
  --skill-item-bg-color: #f6f6f6;
  --service-icon-bg-color: #e5faee;
  --tab-btn-bg-color: #f6f6f6;
  --testimonial-sectoin-bg-image: url("../images/testimonials/img_testimonials-bg.png");
  --testimonial-section-image: url("../images/testimonials/img_testimonials.png");
  --testimonial-section-bg-yellow: #636996;
  --testimonial-section-bg-purple: #ffcc00;
  --testimonial-section-slider-btn-color: #292c3d;
  --blog-section-background-image1: url("../images/blog-section/laptop-img.png");
  --blog-section-background-image2: url("../images/blog-section/watch-img.png");
  --blog-section-background-image3: url("../images/blog-section/Joystick-img.png");
  --blog-section-icon-hover-color: #d84f5f;
  --common-bg-color: #1a232b;
  --footer-banner-bg-image: url("../images/footer/BG.png");
  --education-section-year-color: #202334;
  --education-section-card-shadow: 0px 5px 35.28px 13.72px rgba(0, 0, 0, 0.04);
  --education-section-card-hover-shadow: 0px 24px 35.28px 13.72px rgba(0, 0, 0, 0.1);
  --blog-details-background-big-image: url("../images/blog-details/blog1.png");
  --blog-details-background-small-image1: url("../images/blog-details/blog-details-small-img1.png");
  --blog-details-background-small-image2: url("../images/blog-details/blog-details-small-img2.png");
  --contact-form-input-border-color: #e1e1e1;
  --blog-section-card-background-color: #ffffff;
  --blog-section-card-text-title-color: #02052b;
}

.dark {
  --primary-color: #1b1d29;
  --secondary-color: #ffffff;
  --section-headline-color: #ffffff;
  --mobile-sidebar-bg-color: #202334;
  --sidebar-link-hover-color: #3a3b48;
  --sidebar-close-button-color: #FDFDFD;
  --follow-me-button-bg-color: #202334;
  --follow-me-button-text-color: #ffffff;
  --scroll-text-color: #202334;
  --social-link-color: #ffffff;
  --sticky-header-color: #000000;
  --sticky-header-logo-bg-color: #00cf5d;
  --logo-text-color: #ffffff;
  --sticky-header-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  --hero-section-clipart-image: url("../images/hero-section/hero-img-dark-bg.png");
  --skill-item-bg-color: #202334;
  --text-color-black: #ffffff;
  --service-icon-bg-color: #1d3538;
  --tab-btn-bg-color: #32343f;
  --blog-section-card-background-color: #202334;
  --blog-section-card-text-title-color: #ffffff;
  --education-section-year-color: #7a7c8f;
  --education-section-card-hover-shadow: 0px 24px 35.28px 13.72px rgba(0, 0, 0, 0.5);
  --contact-form-input-border-color: #43444e;
  --contact-form-box-shadow: 0px 9px 47.31px 9.69px rgba(104, 104, 104, 0.04);
}/*# sourceMappingURL=theme.css.map */